<%- include('partials/head') -%>

<%- include('partials/header') -%>
  
    <main class="container my-3">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4 bg-blue">
                <h2 id="formtitle" class="white">Create Post</h2>
                <form id="create-form">
                    <div class="mb-3">
                        <label for="title" class="form-label white">Title</label>
                        <input type="text" class="form-control uppercase" id="title" placeholder="Post title" maxlength="50" autofocus required/>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label white">Content</label>
                        <textarea class="form-control textarea" id="content" placeholder="Post content" rows="4" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label white">Link</label>
                        <input type="url" class="form-control" id="link" placeholder="Link" required/>
                    </div>
                    <div class="d-grid gap-2">
                        <button id="btn-save" type="submit" class="btn btn-info" title="Add">Add</button>
                        <button id="btn-clean" class="btn btn-secondary" title="Clean">Clean</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 py-4 bg-white">
                <h2 class="centrado">Post Registration</h2>
                <table class="table table-info-border-subtle table-striped">
                    <thead>
                        <tr>
                            <th class="centrado">Id</th>
                            <th class="centrado">Títle</th>
                            <th class="centrado">Created</th>
                            <th class="centrado"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach(post=> { %>
                        <tr class="row-post" data-id="<%= post.id %>">
                            <td class="centrado"><%= post.id %></td>
                            <td class="centrado text-break"><%= post.title %></td>
                            <td class="centrado"><%= (post.createdAt).toLocaleDateString() %></td>
                            <td class="centrado"><button id="edit" class="btn btn-secondary" title="Edit"><i id="edit" class="bi bi-pencil"></i></button></td>
                            <td class="centrado"><button id="delete" class="btn btn-danger" title="Delete"><i id="delete" class="bi bi-trash3"></i></button></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-blue">
                        <h1 class="modal-title fs-5 white" id="exampleModalLabel">Post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form">
                            <div class="mb-3">
                                <label for="editTitle" class="col-form-label">Title:</label>
                                <input type="text" class="form-control uppercase" id="editTitle" required>
                            </div>
                            <div class="mb-3">
                                <label for="editContent" class="col-form-label">Content:</label>
                                <textarea class="form-control textarea" id="editContent" rows="4" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="editLink" class="col-form-label">Link:</label>
                                <input type="url" class="form-control" id="editLink" required>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" id="btn-edit" title="Save changes">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancel">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include("partials/footer") -%>